a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
body {
    margin: 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav {
    border-bottom: 1px solid #dedede;
    background-color: white;
    position: fixed;
    width: 100%;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 200;
    z-index: 4;
}

#wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
    #logo {
        display: flex;
    }
        #logo img {
            width: 30px;
            height: 30px;
            margin: auto;
        }
        #barre {
            margin: auto 10px;
            height: 40px;
            border-width: 0.5px;
            color: rgb(73, 72, 72);
        }
        #texte {
            margin: auto;
            font-family: 'Cookie', cursive;
            font-size: 33px;
            color: black
        }
    #search_box {
        margin: auto;
    }
        #search {
        }
            #search_bar {
                padding-left: 15px;
                width: 165px;
                height: 30px;
                font-size: 14px;
                font-family: 'IBM Plex Sans Condensed';
                font-weight: 200;
                border: 1px solid #cccbcb;
                color: black;
                border-radius: 3px;
                outline:  none;
            }
            #box_users {
                margin: auto;
                position: absolute;
                width: 163px;
                display: flex;
                flex-direction: column;
                border-radius: 3px;
                border: 1px solid #dedede;
            }
                .user_block {
                    display: flex;
                    background-color: white;
                    border-bottom: 1px solid #dedede;
                    padding: 3px 0;
                    
                }
                .user_block:hover {
                    display: flex;
                    background-color: #fafafa;
                    border-bottom: 1px solid #dedede;
                    
                }
                    .box_child_img {
                        margin: auto 10px;
                        height: 25px;
                        width: 25px;
                        display: flex;
                        border-radius: 100px;
                    }
                        .user_img img {
                            width: 25px;
                            margin: auto;
                        }
                    .user_name {
                        margin: auto 0;
                        font-family: 'IBM Plex Sans Condensed';
                        font-weight: 400;
                        color: black;
                        font-size: 14px;
                    }
    #boxright {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
        #picture {
            margin: auto;
            cursor: pointer;
        }
            #picture img {
                width: 25px;
                margin-top: 2px;
            }
        #like_notif {
            margin: auto 20px;
            cursor: pointer;
        }
            #like_notif img {
                width: 21px;
                margin-top: 1px;
            }
        #notif_box_border {
            width: 350px;
            height: 200px;
            box-shadow: 0px 0px 3px 0px #dedede;
            background-color: white;
            position: fixed;
            position: absolute;
            margin-top: 37px;
            margin-left: -200px;
        }
        #notif_box_border:after {
            bottom: 100%;
            left: 71%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: fixed;
            position: absolute;
            border-bottom-color: white;
            border-width: 8px;
            overflow: visible;
          }
          #notif_box_border:before {
            bottom: 100%;
            left: calc(71% - 1px);
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-bottom-color: #dedede;
            border-width: 9px;
            overflow: visible;
          }
          #notif_box {
            height: 200px;
            overflow: auto;
        }
            .notif {
                padding: 10px 0;
                border-bottom: 1px solid #dedede;
                display: flex;
                font-family: 'Raleway', sans-serif;
                font-weight: 200;
                font-size: 14px;
            }
            #unread {
                background-color: rgba(101, 204, 245, 0.2);
            }
                .notif img {
                    height: 40px;
                    width: 40px;
                    border-radius: 100px;
                    margin: auto 15px;
                }
                .text_notif {
                    margin: auto 0;
                    color: black;
                }
        #user_logo{
            margin: auto;
        }
            #user_logo img {
                width: 21px;
            }
        #logout {
            margin: auto auto auto 20px;
        }
            #logout img {
                width: 20px;
            }
        #connexion {
            margin: auto;
            color: black;
            font-size: 16px;
            padding-bottom: 3px;
            font-weight: 300;
        }

.input-file {
    display: none;
}



#wrapper_search {
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
    #wrapper_search2 {
        margin: auto;
        width: 1000px;
        display: flex;
        justify-content: space-between;
    }
        #search_users {
            display: flex;
        }
            