body, html {
    background-color: #eeeded;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
#wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}
    #bloc {
        background-color: white;
        border: 1px solid #dedede;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 2px;
    }
    #box {
        margin: 5vh;
    }
        #logo {
            display: flex;
        }
            #logo img {
                width: 8vh;
                height: 8vh;
                margin: 0 0.8vh 0 auto;
            }
            #text_logo {
                font-family: 'Cookie', cursive;
                font-size: 7vh;
                margin-right: auto;
                margin-top: auto;
            }

        form {
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
        }
            .input {
                height: 4vh;
                font-family: "IBM Plex Sans Condensed";
                font-weight: 200;
                font-size: 2vh;
                padding-left: 10px;
                border-radius: 2px;
                outline: none;
            }
                #username {
                    cursor: text;
                }
                #pwd {
                    margin: 8px 0 15px 0;
                    cursor: text;
                }
                #submit {
                    cursor: pointer;
                    background-color: #2dbe60;
                    color: white;
                    border: none;
                }

    #hors_block {
        margin: 2vh auto 0 auto;
        display: flex;
        flex-direction: column;
    }
        #signup {
            font-family: "IBM Plex Sans Condensed";
            font-weight: 300;
            font-size: 2vh;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            color: black;
            margin: auto;
            background-color: #eeeded;
        }
        #inscription {
            color: #2dbe60;
        }
        #frame_error {
            margin: auto;
            display: flex;
        }
            #absolute_error {
                position: absolute;
                display: flex;
                width: 100%;
                left: 0;
            }
                .error {
                    font-family: "IBM Plex Sans Condensed";
                    font-weight: 300;
                    font-size: 1.5vh;
                    cursor: pointer;
                    text-align: center;
                    color: black;
                    margin: 1vh auto;
                }
                #send_mail {
                    font-style: italic;
                    color: blueviolet;
                    cursor: none;
                }
